/** @format */

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  align-items: center;
  width: 100%;
}

.logo a {
  text-decoration: none;
  font-family: var(--font-body);
  color: var(--second-color);
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 4rem);
  text-transform: uppercase;
}

.nav-bar,
.contact {
  display: flex;
  gap: 2vw;
}

.nav-bar a,
.contact a {
  color: var(--second-color);
  font-family: var(--font-body);
  text-decoration: none;
  font-weight: 700;
  font-size: clamp(1rem, 1vw, 4rem);
  text-transform: uppercase;
}

.menu {
  display: none;
}

.sidebar {
  display: none;
}

.sidebar a {
  text-decoration: none;
  font-family: var(--font-body);
  color: black;
  margin-bottom: 10px;
}

.menu,
.close {
  width: 30px;
  filter: brightness(0);
}

.close {
  margin-bottom: 10px;
}

@media (max-width: 1025px) {
  nav {
    height: 100px;
  }
}

@media (max-width: 769px) {
  nav {
    height: 100px;
  }
}

@media (max-width: 426px) {
  .nav-bar,
  .contact {
    display: none;
  }

  nav {
    height: 95px;
  }

  .logo {
    padding: 2vw;
  }

  .logo a {
    font-size: 1rem;
  }

  .menu {
    display: flex;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: rgba(245, 245, 245, 0.7);
    height: 100vh;
    width: 200px;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px 20px;
  }
}
